/* CSS for contact form */
.contact-form 
label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
}

.contact-form input[type="text.contact-form "],
.contact-form input[type="email.contact-form "],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Add some spacing to the form */
.contact-form form {
  width: 500px;
  margin: 0 auto;
}