/* CSS for blog page */

.post-preview {
  border: 2px solid var(--cg-navy);
  background-color: var(--cg-navy);
  color: var(--cg-white);
  border-radius: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 22px;
  margin-bottom: 25px;
  text-align: center;
}

.post-link {
  text-decoration: none;
  color: var(--cg-white);
}

.post-preview-img {
  border-radius: 50%;
  display: block;
  margin: 20px auto 20px auto;
  height: 175px;
  width: 175px;
  object-fit: cover;
}