.comment {
  width: 700px;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
}

.user {
  margin: 0;
}

.date {
  margin-top: 0;
  margin-bottom: 20px;
}